@model DM_API_WS.Wizard.Model.ChangePasswordData
@{
    ViewData["Title"] = "Check";
}

<h1>Change Password</h1>

@using (Html.BeginForm("ChangePassword", "Wizard", FormMethod.Post))
{
    //this is for create form tag
@Html.AntiForgeryToken() // this is for prevent CSRF attack
@Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

<div style="border:1px solid red">
    @ViewBag.Message
</div>
    }

<table>
    <tr>
        <td>Username</td>
        <td>@Html.TextBoxFor(a => a.Username)</td>
        <td>@Html.ValidationMessageFor(a => a.Username)</td>
        <td><span style="color: red"></span></td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Html.PasswordFor(a => a.Password)</td>
        <td>@Html.ValidationMessageFor(a => a.Password)</td>
        <td></td>
    </tr>
    <tr>
        <td>New Password</td>
        <td>@Html.PasswordFor(a => a.NewPassword)</td>
        <td>@Html.ValidationMessageFor(a => a.NewPassword)</td>
        <td></td>
    </tr>
    <tr>
        <td>Password Confirm</td>
        <td>@Html.PasswordFor(a => a.ConfirmPassword)</td>
        <td>@Html.ValidationMessageFor(a => a.ConfirmPassword)</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Change" />
        </td>
        <td></td>
    </tr>
</table>
    if (@ViewBag.Status != null)
    {
<h3>Result:</h3>
<div>
    @ViewBag.Status
</div>
    }
}
<br />
<br />
<a href="~/Wizard/Home">Back to Home</a>