@model DM_API_WS.Wizard.Model.ConfigData
@{
    ViewData["Title"] = "Check Status";
}

<h1>Check Status</h1>

<span style="color: darkgreen">Authentication database is already initialized to version @Model.AuthDbVersion</span>
<br />
<br />
@if (!Model.AuthDbExtInitialized && !string.IsNullOrWhiteSpace(ViewBag.MessageAuthDb))
{
    <span style="color: red">@ViewBag.MessageAuthDb <input type="submit" value="Extend AuthDb" /></span>
}
else if (!string.IsNullOrWhiteSpace(ViewBag.MessageAuthDb))
{
    <span style="color: darkgreen">@ViewBag.MessageAuthDb</span>
}
<br />
<br />

@if (!Model.StatusSelectedMappingStore)
{
    @using (Html.BeginForm("InizializeMSDB", "Wizard", FormMethod.Post))
    {
        <span style="color: red">@Model.StepMessage</span>
        @if (!Model.ErrorSelectedMappingStore)
        {
            <input type="submit" value="Inizialize MSDB" />
        }
    }
}
else
{
    <span style="color: darkgreen">Everything seems fine. Version: @Model.MappingStoreVersion</span>
    <br />
    <br />
}

@if (!Model.StatusDDB)
{
    @using (Html.BeginForm("InizializeDDB", "Wizard", FormMethod.Post))
    {
        <span style="color: red">DDB initialization needed</span>
        @if (!Model.ErrorDDB)
        {
            <input type="submit" value="Inizialize DDB" />
        }
        else
        {
            <span style="color: red">: there are some problem to connect a database (check DDB connection string or see log error)</span>
        }
        <br />
        <br />
    }
}
else
{
    <span style="color: darkgreen">DDB is Initialized</span>
    <br />
    <br />
}

@if (!Model.StatusRMDB)
{
    @using (Html.BeginForm("InizializeRMDB", "Wizard", FormMethod.Post))
    {
        <span style="color: red">RMDB initialization needed</span>
        @if (!Model.ErrorRMDB)
        {
        <input type="submit" value="Inizialize RMDB" />
        }
        else
        {
            <span style="color: red">: there are some problem to connect a database (check RMDB connection string or see log error)</span>
        }
        <br />
        <br />
    }
}
else
{
    <span style="color: darkgreen">RMDB is Initialized</span>
    <br />
    <br />
}

<a href="~/Wizard/Step04ListMSDB">Back to Check MSDB</a>
<br />
<a href="~/Wizard/Home">Back to Home</a>