@model DM_API_WS.Wizard.Model.ConfigData
@{
    ViewData["Title"] = "Check";
}

<h1>Check MetaData API</h1>

@using (Html.BeginForm("CheckEndPoint", "Wizard", FormMethod.Post))
{
    //this is for create form tag
@Html.AntiForgeryToken() // this is for prevent CSRF attack
@Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
<div style="border:1px solid red">
    @ViewBag.Message
</div>
    }

<table>
    <tr>
        <td><span>EndPoint URL</span></td>
        <td>@Html.TextBoxFor(a => a.MA, new { placeholder = "https://www.endpoint.ext:44375/", @class = "form-input", style = "width:500px;" })</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Check" />
        </td>
        <td></td>
    </tr>
</table>
    if (@ViewBag.EndPointStatus != null)
    {
<h3>Result:</h3>
<div>
    @ViewBag.EndPointStatus
    <br /><br />
    @ViewBag.EndPointStatusMessage
</div>
    }
}
<br /><br />
<a href="~/Wizard/Home">Back to Home</a>