@model DM_API_WS.Wizard.Model.ConfigData
@{
    ViewData["Title"] = "List Mapping Store";
}

<h1>List Mapping Store</h1>

@using (Html.BeginForm("Step03ExtAuthDb", "Wizard", FormMethod.Post))
{
    <span style="color: darkgreen">Authentication database is already initialized to version @Model.AuthDbVersion</span>
    <br />
    <br />
    @if (!Model.AuthDbExtInitialized && !string.IsNullOrWhiteSpace(ViewBag.MessageAuthDb))
    {
        <span style="color: red">@ViewBag.MessageAuthDb <input type="submit" value="Extend AuthDb" /></span>
    }
    else if (!string.IsNullOrWhiteSpace(ViewBag.MessageAuthDb))
    {
        <span style="color: darkgreen">@ViewBag.MessageAuthDb</span>
    }
    <br />
    <br />
}

@using (Html.BeginForm("SetMappingStore", "Wizard", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Mapping Store</legend>
        <div class="editor-label">

        </div>
        <div class="editor-field">
            @Html.DropDownList("MappingStores")
        </div>
        <p>
            <input type="submit" value="Check" />
        </p>
    </fieldset>
}

<br />
<br />
<a href="~/Wizard/Home">Back to Home</a>
