@model DM_API_WS.Wizard.Model.ConfigData
@{
    ViewData["Title"] = "Index";
}

<h1>DM API Wizard</h1>

@using (Html.BeginForm("ExtendAuthDb", "Wizard", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

    <table>
        @if (!string.IsNullOrWhiteSpace(ViewBag.MessageAuthDb))
        {
            <tr>
                <td><span style="color: darkgreen">@ViewBag.MessageAuthDb</span></td>
                <td></td>
                <td></td>
            </tr>
        }

        @if (Model.AuthDbExtInitialized)
        {
            <a href="~/Wizard/Step04ListMSDB">Check Mapping Store</a>
        }
        else
        {
            @using (Html.BeginForm("ExtendAuthDb", "Wizard", FormMethod.Post))
            {
                <tr>
                    <td>AuthDb need to be extended <input type="submit" value="Extend AuthDb" /></td>
                    <td></td>
                    <td></td>
                </tr>

            }
        }
    </table>
}
<br />
<br />
<a href="~/Wizard/Start">Back to Login</a>
<br />
<a href="~/Wizard/Home">Back to Home</a>